{deps, [
    {gun, "1.0.0-pre.1", {git, "git://github.com/ninenines/gun.git", {tag, "1.0.0-pre.1"}}},
    {jsx, "2.8.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {lager, "3.2.1", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {iso8601, "1.2", {git, "git@github.com:erlsci/iso8601.git", {tag, "1.2"}}},
    {decimal, "0.2", {git, "https://github.com/rschlaikjer/erlang-decimal.git", {tag, "0.2"}}}
]}.
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
