{deps, [
    {gun, "1.0.0-pre.1", {git, "git://github.com/ninenines/gun.git", {tag, "1.0.0-pre.1"}}},
    {jsx, "2.8.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {lager, "3.2.0", {git, "https://github.com/basho/lager.git", {tag, "3.2.0"}}},
    {decimal, "0.1", {git, "https://github.com/rschlaikjer/erlang-decimal.git", {tag, "0.1"}}}
]}.
